<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardBlur_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,174}</string>
                <key>spriteSourceSize</key>
                <string>{125,174}</string>
                <key>textureRect</key>
                <string>{{0,0},{125,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,174}</string>
                <key>spriteSourceSize</key>
                <string>{125,174}</string>
                <key>textureRect</key>
                <string>{{125,0},{125,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,174}</string>
                <key>spriteSourceSize</key>
                <string>{125,174}</string>
                <key>textureRect</key>
                <string>{{250,0},{125,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,174}</string>
                <key>spriteSourceSize</key>
                <string>{125,174}</string>
                <key>textureRect</key>
                <string>{{375,0},{125,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,174}</string>
                <key>spriteSourceSize</key>
                <string>{125,174}</string>
                <key>textureRect</key>
                <string>{{500,0},{125,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,174}</string>
                <key>spriteSourceSize</key>
                <string>{125,174}</string>
                <key>textureRect</key>
                <string>{{625,0},{125,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,174}</string>
                <key>spriteSourceSize</key>
                <string>{125,174}</string>
                <key>textureRect</key>
                <string>{{750,0},{125,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,174}</string>
                <key>spriteSourceSize</key>
                <string>{125,174}</string>
                <key>textureRect</key>
                <string>{{875,0},{125,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,174}</string>
                <key>spriteSourceSize</key>
                <string>{125,174}</string>
                <key>textureRect</key>
                <string>{{0,174},{125,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,174}</string>
                <key>spriteSourceSize</key>
                <string>{125,174}</string>
                <key>textureRect</key>
                <string>{{125,174},{125,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,174}</string>
                <key>spriteSourceSize</key>
                <string>{125,174}</string>
                <key>textureRect</key>
                <string>{{250,174},{125,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,174}</string>
                <key>spriteSourceSize</key>
                <string>{125,174}</string>
                <key>textureRect</key>
                <string>{{375,174},{125,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,174}</string>
                <key>spriteSourceSize</key>
                <string>{125,174}</string>
                <key>textureRect</key>
                <string>{{500,174},{125,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,174}</string>
                <key>spriteSourceSize</key>
                <string>{125,174}</string>
                <key>textureRect</key>
                <string>{{625,174},{125,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{750,174},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,158}</string>
                <key>spriteSourceSize</key>
                <string>{125,158}</string>
                <key>textureRect</key>
                <string>{{875,174},{125,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{0,348},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,158}</string>
                <key>spriteSourceSize</key>
                <string>{125,158}</string>
                <key>textureRect</key>
                <string>{{125,348},{125,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{250,348},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,158}</string>
                <key>spriteSourceSize</key>
                <string>{125,158}</string>
                <key>textureRect</key>
                <string>{{375,348},{125,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,158}</string>
                <key>spriteSourceSize</key>
                <string>{125,158}</string>
                <key>textureRect</key>
                <string>{{500,348},{125,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{625,348},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,158}</string>
                <key>spriteSourceSize</key>
                <string>{125,158}</string>
                <key>textureRect</key>
                <string>{{750,348},{125,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{875,348},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{0,507},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{125,507},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,158}</string>
                <key>spriteSourceSize</key>
                <string>{125,158}</string>
                <key>textureRect</key>
                <string>{{250,507},{125,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{375,507},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{500,507},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{625,507},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,158}</string>
                <key>spriteSourceSize</key>
                <string>{125,158}</string>
                <key>textureRect</key>
                <string>{{750,507},{125,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{875,507},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,158}</string>
                <key>spriteSourceSize</key>
                <string>{125,158}</string>
                <key>textureRect</key>
                <string>{{0,666},{125,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,158}</string>
                <key>spriteSourceSize</key>
                <string>{125,158}</string>
                <key>textureRect</key>
                <string>{{125,666},{125,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{250,666},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,158}</string>
                <key>spriteSourceSize</key>
                <string>{125,158}</string>
                <key>textureRect</key>
                <string>{{375,666},{125,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{500,666},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{625,666},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{750,666},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{875,666},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,158}</string>
                <key>spriteSourceSize</key>
                <string>{125,158}</string>
                <key>textureRect</key>
                <string>{{0,825},{125,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{125,825},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{250,825},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{375,825},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{500,825},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{625,825},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{750,825},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,158}</string>
                <key>spriteSourceSize</key>
                <string>{125,158}</string>
                <key>textureRect</key>
                <string>{{875,825},{125,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,158}</string>
                <key>spriteSourceSize</key>
                <string>{125,158}</string>
                <key>textureRect</key>
                <string>{{0,984},{125,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{125,984},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,158}</string>
                <key>spriteSourceSize</key>
                <string>{125,158}</string>
                <key>textureRect</key>
                <string>{{250,984},{125,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,158}</string>
                <key>spriteSourceSize</key>
                <string>{125,158}</string>
                <key>textureRect</key>
                <string>{{375,984},{125,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{500,984},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,158}</string>
                <key>spriteSourceSize</key>
                <string>{125,158}</string>
                <key>textureRect</key>
                <string>{{625,984},{125,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{750,984},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{875,984},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{0,1143},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{125,1143},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{250,1143},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{375,1143},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{500,1143},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,158}</string>
                <key>spriteSourceSize</key>
                <string>{125,158}</string>
                <key>textureRect</key>
                <string>{{625,1143},{125,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,158}</string>
                <key>spriteSourceSize</key>
                <string>{125,158}</string>
                <key>textureRect</key>
                <string>{{750,1143},{125,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{875,1143},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{0,1302},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{125,1302},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,159}</string>
                <key>spriteSourceSize</key>
                <string>{125,159}</string>
                <key>textureRect</key>
                <string>{{250,1302},{125,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{1000,1461}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c3e5fb82cc2144789735be4a7e980ad:be262da92eca26fc7d8b98826d7d6774:fc86278e5045194fe7638df41a1aa4f3$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
